#body{
    background-color: azure;
    height: 100%;
    margin: 0;
    padding: 0;
}

#prcol{ 
    background-color: azure;
    padding-right: 20px;
}
#estcol{ 
    padding-left: 20px;
    background-color: azure;
    padding-right: 20px;
}
#crcol{ 
    padding-left: 20px;
    background-color: azure;
    padding-right: 20px;
}
.col {
    text-align: center;
    margin-left: auto;

}


/*Estilos_de_portales */

.containerpr{
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.textopr{ 
    margin-left: 20px;
    margin-right: 100px;
}
.inicio{ 
    margin-left: 40%;
}
.umglogo{ 
    margin-right: 10px;
    margin-left: 70px;
    max-width: 200px;
    height: auto;
}
.titleform{ 
    margin-top: 30px;
    margin-left: 25px;
}
.campoformulario{ 
    margin-top: 20px;
    margin-right: 10px;
}
.labelformulario {
    display: block;
    margin-bottom: 5px;
}
.inputformulario {
    width: 50%;
    padding: 8px;
    box-sizing:border-box;
}
.container{ 
    width: 100%;
}
.footer{ 
    margin-top: 50px;
}

/* Estilos del index */