<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cursos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Gestión de Cursos</h1>

        <!-- Formulario para agregar o editar cursos -->
        <form method="POST" action="{{ url_for('curso') }}">
            <div class="mb-3">
                <label for="nombre_curso" class="form-label">Nombre del Curso</label>
                <input type="text" class="form-control" id="nombre_curso" name="nombre_curso" value="{{ curso_a_editar[1] if curso_a_editar else '' }}" required>
            </div>

            {% if curso_a_editar %}
            <input type="hidden" name="curso_id" value="{{ curso_a_editar[0] }}">
            <button type="submit" name="editar" class="btn btn-primary">Editar Curso</button>
            <a href="{{ url_for('curso') }}" class="btn btn-secondary">Cancelar</a>
            {% else %}
            <button type="submit" name="agregar" class="btn btn-success">Agregar Curso</button>
            {% endif %}
        </form>

        <!-- Listado de cursos -->
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso[0] }}</td>
                    <td>{{ curso[1] }}</td>
                    <td>
                        <a href="{{ url_for('curso', id=curso[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form method="POST" action="{{ url_for('curso') }}" style="display:inline;">
                            <input type="hidden" name="curso_id" value="{{ curso[0] }}">
                            <button type="submit" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

