<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Estudiantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Gestión de Estudiantes</h1>

        <!-- Formulario para agregar o editar estudiantes -->
        <form method="POST" action="{{ url_for('estudiante') }}">
            <div class="mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="nombres" name="nombres" value="{{ estudiante_a_editar[1] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" value="{{ estudiante_a_editar[2] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="grado" class="form-label">Grado</label>
                <input type="text" class="form-control" id="grado" name="grado" value="{{ estudiante_a_editar[3] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="seccion" class="form-label">Sección</label>
                <input type="text" class="form-control" id="seccion" name="seccion" value="{{ estudiante_a_editar[4] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="codigo" class="form-label">Código</label>
                <input type="text" class="form-control" id="codigo" name="codigo" value="{{ estudiante_a_editar[5] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="encargado_nombre" class="form-label">Nombre del Encargado</label>
                <input type="text" class="form-control" id="encargado_nombre" name="encargado_nombre" value="{{ estudiante_a_editar[6] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value="{{ estudiante_a_editar[7] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="sangre_tipo" class="form-label">Tipo de Sangre</label>
                <input type="text" class="form-control" id="sangre_tipo" name="sangre_tipo" value="{{ estudiante_a_editar[8] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="alergia" class="form-label">Alergia</label>
                <input type="text" class="form-control" id="alergia" name="alergia" value="{{ estudiante_a_editar[9] if estudiante_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="discapacidad" class="form-label">Discapacidad</label>
                <input type="text" class="form-control" id="discapacidad" name="discapacidad" value="{{ estudiante_a_editar[10] if estudiante_a_editar else '' }}" required>
            </div>

            {% if estudiante_a_editar %}
            <input type="hidden" name="estudiante_id" value="{{ estudiante_a_editar[0] }}">
            <button type="submit" name="editar" class="btn btn-primary">Editar Estudiante</button>
            <a href="{{ url_for('estudiante') }}" class="btn btn-secondary">Cancelar</a>
            {% else %}
            <button type="submit" name="agregar" class="btn btn-success">Agregar Estudiante</button>
            {% endif %}
        </form>

        <!-- Listado de estudiantes -->
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Grado</th>
                    <th>Sección</th>
                    <th>Código</th>
                    <th>Nombre del Encargado</th>
                    <th>Teléfono</th>
                    <th>Tipo de Sangre</th>
                    <th>Alergia</th>
                    <th>Discapacidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante[0] }}</td>
                    <td>{{ estudiante[1] }}</td>
                    <td>{{ estudiante[2] }}</td>
                    <td>{{ estudiante[3] }}</td>
                    <td>{{ estudiante[4] }}</td>
                    <td>{{ estudiante[5] }}</td>
                    <td>{{ estudiante[6] }}</td>
                    <td>{{ estudiante[7] }}</td>
                    <td>{{ estudiante[8] }}</td>
                    <td>{{ estudiante[9] }}</td>
                    <td>{{ estudiante[10] }}</td>
                    <td>
                        <a href="{{ url_for('estudiante', id=estudiante[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form method="POST" action="{{ url_for('estudiante') }}" style="display:inline;">
                            <input type="hidden" name="estudiante_id" value="{{ estudiante[0] }}">
                            <button type="submit" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body
