<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoFinal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <style>
        #body {
            position: relative;
            min-height: 100vh;
        }
        #imagenfondo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.3;
            z-index: -1;
        }
        .content {
            position: relative;
            z-index: 1;
            margin-top: 100px;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body id="body">
    <img src="https://definicion.de/wp-content/uploads/2008/09/html-1.jpg" alt="Imagen de fondo" id="imagenfondo">
    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="p-3 border bg-light text-center">
                    <a href="{{ url_for('profesor') }}">Portal Profesor</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">
                    <a href="{{ url_for('estudiante') }}">Portal Estudiante</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">
                    <a href="{{ url_for('curso') }}">Cursos</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col">
                <div class="p-3">
                    <div id="nombres">
                        <h3>Ismeri Machorro</h3>
                        <h3>Ilvia Duarte</h3>
                        <h3>Jorge Villeda</h3>
                    </div>
                </div>
                <div class="p-3">
                    <div id="carnet">
                        <h3>1390-23-4012</h3>
                        <h3>1390-23-6861</h3>
                        <h3>1390-21-17214</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>







