<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Profesores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Gestión de Profesores</h1>

        <!-- Formulario para agregar o editar profesores -->
        <form method="POST" action="{{ url_for('profesor') }}">
            <div class="mb-3">
                <label for="nombre_profesor" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre_profesor" name="nombre_profesor" value="{{ profesor_a_editar[1] if profesor_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="apellido_profesor" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido_profesor" name="apellido_profesor" value="{{ profesor_a_editar[2] if profesor_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="telefono_profesor" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono_profesor" name="telefono_profesor" value="{{ profesor_a_editar[3] if profesor_a_editar else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" value="{{ profesor_a_editar[4] if profesor_a_editar else '' }}" required>
            </div>

            {% if profesor_a_editar %}
            <input type="hidden" name="profesor_id" value="{{ profesor_a_editar[0] }}">
            <button type="submit" name="editar" class="btn btn-primary">Editar Profesor</button>
            <a href="{{ url_for('profesor') }}" class="btn btn-secondary">Cancelar</a>
            {% else %}
            <button type="submit" name="agregar" class="btn btn-success">Agregar Profesor</button>
            {% endif %}
        </form>

        <!-- Listado de profesores -->
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                <tr>
                    <td>{{ profesor[0] }}</td>
                    <td>{{ profesor[1] }}</td>
                    <td>{{ profesor[2] }}</td>
                    <td>{{ profesor[3] }}</td>
                    <td>{{ profesor[4] }}</td>
                    <td>
                        <a href="{{ url_for('profesor', id=profesor[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form method="POST" action="{{ url_for('profesor') }}" style="display:inline;">
                            <input type="hidden" name="profesor_id" value="{{ profesor[0] }}">
                            <button type="submit" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
